/* Responsive layout styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*p {*/
/*    margin: 5px 0;*/
/*}*/

@media screen and (min-width: 0px) {

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
    }

    #select-container {
        display: flex;
        justify-content: center;
        align-items: center;
        /*Add min height 100vh to center child element inside of the full viewport*/
        min-height: 100vh;
    }

    #weather-container {
        /*display: flex;*/
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;
    }

    .weather-text-container {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .text-action-area {
        flex-grow: 1;
        padding: 0 20px !important;
    }


}


/* Overriding MUI .MuiCardActionArea-root width: 100% */
.image-container {
    width: 60% !important;
}

/*!* -------------------- *!*/

/* On viewports that are 775px or smaller, apply styles below. */
@media screen and (max-width: 775px) {

    .weather-text-container {
        width: 50%;
    }

    /* Overriding MUI .MuiCardActionArea-root width: 100% */
    .image-container {
        width: 50% !important;
    }

    h1 {
        font-size: 1.6em !important;
    }
}

/* On viewports that are 460px or smaller, apply styles below. */
@media screen and (max-width: 460px) {

    .text-action-area {
        padding: 0 !important;
    }
    h1 {
        font-size: 1.4em !important;
    }
}